<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="ExampleTestSuite">
    <test name="Package1Tests">
        <classes>
            <class name="package1.SetupClass"></class>
            <class name="package1.TestClass1"></class>
            <class name="package1.TestClass2"></class>
            <class name="package1.TestClass3"></class>
        </classes>
    </test>
    
    <test name="OnlyOneTestClass">
        <classes>
            <class name="package2.TestClass3"></class>
        </classes>
    </test>
    
    <test name="packageAsATest">
        <packages>
            <package name="package1"></package>
        </packages>
    </test>

</suite>